* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 600px;
}

table {
 width: 100%;
 border-collapse: collapse;
}
th,td {
  text-align: center;
  padding: 5px 0;
}

.table-bordered tr td {
  border-top: 1px solid black;
}

.table-bordered tr:last-child td { border-bottom: 1px solid black; }


fieldset {
  border: 1px solid #CCC;
  margin: 10px 0;
}

legend { padding: 0 10px; }

input[type="text"] {
  border: 1px solid #CCC;
  padding: 10px;
  width: 100%;
  font-size: .9em;
}

button, input[type="button,submit"] {
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 0;
  border: 1px solid #CCC;
  font-size: .8em;
}

button[disabled] {
  background-color: darksalmon;
}

form {
  padding: 20px;
  border: 1px solid #CCC;
  margin: 20px;
}
